<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Alexander Fuchsberger"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= gettext "LOTD Inventory Manager" %></title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </head>
  <body>
    <%= render "navbar.html", conn: @conn %>
    <%# error(get_flash(@conn)["error"]) %>
    <%# info(get_flash(@conn)["info"]) %>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
