<%= if @flash["error"] do %>
  <div class="notification is-danger">
    <button class="delete"></button>
    <%= @flash["error"] %>
  </div>
<% end %>
<%= if Map.has_key?(@flash, @flash["info"]) do %>
  <div class="notification is-info">
    <button class="delete"></button>
    <%= @flash["info"] %>
  </div>
<% end %>
