<!DOCTYPE html>
<html lang="en" class='h-100'>
  <head>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Alexander Fuchsberger"/>
    <meta name="description" content="This tool allows you to easily keep track of the items you have collected for the Legacy of the Dragonborn Gallery. Simply sign in via Nexus and start collecting items."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>LOTD Item Tracker</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'>
  </head>
  <body>
    <%= render "navbar.html",
      conn: @conn,
      authenticated?: not is_nil(@conn.assigns.current_user),
      admin:  @conn.assigns.current_user && @conn.assigns.current_user.admin,
      moderator:  @conn.assigns.current_user && @conn.assigns.current_user.moderator
    %>
    <%= @inner_content %>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
