<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alexander Fuchsberger">
    <meta name="description" content="This tool allows you to easily keep track of the items you have collected for the Legacy of the Dragonborn Gallery. Simply sign in via Nexus and start collecting items.">

    <%= live_title_tag @page_title, suffix: " | LOTD Tracker" %>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'>
  </head>
  <body class='bg-black text-white'>
    <%= @inner_content %>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
