<tr
  class='<%= if @character.id == @edit_id, do: "table-active" %>'
  phx-click='select'
  phx-value-id='<%= @character.id %>'
>
  <td class='icon-width px-0'>
    <%= if @character.id == @active_id, do: icon("show", title: "Active Character", phx_hook: "tooltip") %>
  </td>
  <td class=''><%= @character.name %></td>
  <td class='text-right'><%= Enum.count(@character.items) %></td>
</tr>
