<%= if is_nil(@filter) || @filter == @display.room_id do %>
  <tr
    class='<%= if @display.id == @edit_id, do: "table-active" %>'
    phx-click='edit'
    phx-value-id='<%= @display.id %>'
  >
    <td><%= @display.name %></td>
    <td class='small'>
      <%= if @display.url, do: link @display.url, to: @display.url, target: "_blank" %>
    </td>
    <td><%= unless is_nil(@display.room_id), do: @display.room.name %></td>
    <td><%= Enum.count @display.items %></td>
  </tr>
<% end %>
