<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error 403</title>
    <meta name="author" content="Alexander Fuchsberger"/>
    <link rel="stylesheet" href="/assets/app.css"/>
  </head>
  <body class="h-full bg-gray-50">
    <div class="min-h-full flex flex-col items-center justify-center">
      <main class="max-w-2xl sm:grid sm:grid-cols-4">
        <div class="px-6">
          <span class="text-4xl sm:text-5xl text-indigo-600 font-extrabold">403</span>
        </div>
        <div class="col-span-3 space-y-8">
          <div class="px-6 sm:border-l sm:border-gray-200">
            <div class="text-4xl sm:text-5xl text-gray-900 font-extrabold">Forbidden</div>
            <div class="text-gray-500 mt-2">You do not have permission to access this page.</div>
          </div>
          <div class="px-6">
            <a href="/" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Go back home</a>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
