<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Alexander Fuchsberger"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>LOTD Inventory Manager</title>
    <link rel="stylesheet" href='/assets/app.css'>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class='container'>
        <%# Logo %>
        <span class="navbar-brand" title='Legacy of the Dragonborn - Inventory Manager'></span>

        <%# Menu %>
        <div class="ml-2 collapse navbar-collapse" id="menu-collapse">
          <ul id='menu' class="navbar-nav">
            <li class="nav-item">
              <a class='nav-link' href='/'>go back</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container text-center'>
      <h1>Oops!</h1>
      <h2>Error 404</h2>
      <p class="lead">Sorry, no relics can be found in this section!</p>
    </div>

    <script type="text/javascript" src='/assets/app.js'></script>
  </body>
</html>
