<table id="data-table" class="min-w-full table-fixed divide-y divide-gray-300" style="width:100%">
    <thead class="bg-gray-50">
        <tr>
            <th></th>
            <th></th>
            <th class="cursor-pointer">
              <div class="flex items-center">
                Name <.sort_icon />
              </div>
            </th>
            <th class="cursor-pointer">
              <div class="flex items-center">
                Location <.sort_icon />
              </div>
            </th>
            <th class="cursor-pointer">
              <div class="flex items-center">
                Region <.sort_icon />
              </div>
            </th>
            <th class="cursor-pointer">
              <div class="flex items-center">
                Display <.sort_icon />
              </div>
            </th>
            <th class="cursor-pointer">
              <div class="flex items-center">
                Room <.sort_icon />
              </div>
            </th>
            <th class="cursor-pointer">
              <div class="flex items-center">
                Mod <.sort_icon />
              </div>
            </th>
            <th><Icon.Outline.duplicate class="w-5 h-5" /></th>
            <th><Icon.Outline.external_link class="w-5 h-5" /></th>
        </tr>
    </thead>
    <tfoot class="bg-gray-50">
        <tr>
            <th></th>
            <th></th>
            <th>
              <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-gray-50 text-xs font-medium text-gray-900">Name</label>
                <input type="text" name="name" id="name" class="block w-full border-0 p-0 bg-gray-50 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm">
              </div>
            </th>
            <th>
              <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-gray-50 text-xs font-medium text-gray-900">Location</label>
                <input type="text" name="name" id="name" class="block w-full border-0 p-0 bg-gray-50 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm">
              </div>
            </th>
            <th>
              <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-gray-50 text-xs font-medium text-gray-900">Region</label>
                <input type="text" name="name" id="name" class="block w-full border-0 p-0 bg-gray-50 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm">
              </div>
            </th>
            <th>
              <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-gray-50 text-xs font-medium text-gray-900">Display</label>
                <input type="text" name="name" id="name" class="block w-full border-0 p-0 bg-gray-50 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm">
              </div>
            </th>
            <th>
              <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-gray-50 text-xs font-medium text-gray-900">Room</label>
                <input type="text" name="name" id="name" class="block w-full border-0 p-0 bg-gray-50 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm">
              </div>
            </th>
            <th>
              <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
                <label for="name" class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-gray-50 text-xs font-medium text-gray-900">Mod</label>
                <input type="text" name="name" id="name" class="block w-full border-0 p-0 bg-gray-50 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm">
              </div>
            </th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

