<h1>Show Display</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @display.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.display_path(@conn, :edit, @display) %></span> |
<span><%= link "Back", to: Routes.display_path(@conn, :index) %></span>
