@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: local('Inter'), url('../fonts/Inter.var.woff2') format('woff2');
  }

  @font-face {
    font-family: 'icons';
    src: url('./../fonts/icons.eot?79587921');
    src: url('./../fonts/icons.eot?79587921#iefix') format('embedded-opentype'),
         url('./../fonts/icons.woff2?79587921') format('woff2'),
         url('./../fonts/icons.woff?79587921') format('woff'),
         url('./../fonts/icons.ttf?79587921') format('truetype'),
         url('../../fonts/icons.svg?79587921#icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

.dataTable tbody { @apply divide-y divide-gray-200 bg-white; }
.dataTable th { @apply whitespace-nowrap py-3.5 text-left text-sm font-semibold text-gray-900; }
.dataTable td { @apply whitespace-nowrap py-2 text-sm text-gray-500; }


/* Column Ordering Sort icons */
th:not(.sorting_asc) .asc { @apply hidden; }
th:not(.sorting_desc) .desc { @apply hidden; }

th .sort-icon { @apply ml-2 flex-none rounded; }

th:not(.sorting_asc, .sorting_desc) .sort-icon {
  @apply invisible text-gray-400 group-hover:visible  group-focus:visible;
}

th.sorting_asc .sort-icon,
th.sorting_desc .sort-icon {
  @apply bg-gray-200 text-gray-900 group-hover:bg-gray-300;
}

.dataTable td.bold { @apply font-medium text-gray-900; }

/* Table Padding */
.dataTable th.first, .dataTable td.first { @apply pl-4 pr-3 sm:pl-6; }
.dataTable th:not(.first), .dataTable td:not(.first) { @apply px-2; }

.dataTables_length label { @apply flex items-center gap-x-2; }
.dataTables_length select { @apply block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md; }

.dataTables_filter label { @apply flex items-center gap-x-2 text-sm font-medium text-gray-700; }
.dataTables_filter input { @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full font-normal text-base sm:text-sm border-gray-300 rounded-md; }

/* Table Pagination */
.dataTables_paginate { @apply flex-1 flex justify-between sm:justify-end; }
.dataTables_paginate a { @apply relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white; }
.dataTables_paginate a.next { @apply ml-4; }
.dataTables_paginate a.disabled { @apply opacity-50; }
.dataTables_paginate a:not(.disabled) { @apply hover:bg-gray-50; }
