@font-face {
  font-family: 'icons';
  src: url('../static/font/icons.woff2?79587921') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before { content: '\e800'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-show:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-remove:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-hide:before { content: '\e808'; } /* '' */
.icon-replica:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\f08e'; } /* '' */
.icon-location:before { content: '\f124'; } /* '' */
.icon-mod:before { content: '\f12e'; } /* '' */
.icon-active:before { content: '\f14a'; } /* '' */
.icon-inactive:before { content: '\f196'; } /* '' */
.icon-displays:before { content: '\f286'; } /* '' */
