html, body { height: calc(100% - 56px);}

body { margin-top: 56px; }

#login-button {
  background: url('../static/images/nexusmods.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-toggler { padding: 0.25rem 0.35rem; }
.navbar-collapse { flex-grow: 0; }

.navbar-brand {
  background: url('../static/images/logo.png');
  background-size: 144px 36px;
  width: 144px;
  height: 36px;
  margin-right: 0;
}

#display-list { height: calc(100% - 54px);}
