body { margin-top: 56px; }

#signInBtn {
  background: url('../static/images/nexusmods.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-toggler { padding: 0.25rem 0.35rem; }
.navbar-brand { margin-right: 0; }
.navbar-collapse { flex-grow: 0; }

#logo {
  background: url('../static/images/logo.png');
  background-size: 144px 36px;
  width: 144px;
  height: 36px;
}

// Make Brand Logo smaller on Mobile only
@include media-breakpoint-down(md) { #logo { width: 35px; } }

#search-control {
  flex-grow: 1;
  margin-left: 5px;
  width: min-content;
}

#search-control  a { cursor: pointer; color: $primary; }

// make icons in dropdown-menus aligned
.dropdown-item > .icon { width: 25px; margin-right: 0!important; margin-left: 0!important; }
