@layer components {
  .navbar-toggler { padding: 0.25rem 0.35rem; }
  .navbar-collapse { flex-grow: 0; }

  .navbar-brand {
    background: url('../static/images/logo.png');
    background-size: 144px 36px;
    width: 144px;
    height: 36px;
    margin-right: 0;
  }
}

