<section class="section has-text-centered">
  <h3 class="title is-3">Add Quest</h3>
  <%= render @view_module, "form.html", changeset: @changeset,
    action: Routes.quest_path(@conn, :create),
    submit_button_text: "Create" %>
</section>
