<section class="section has-text-centered">
  <h3 class="title is-3">Edit Item</h3>
  <%= render @view_module, "form.html",
    changeset: @changeset,
    action: Routes.item_path(@conn, :update, @changeset.data.id),
    submit_button_text: "Edit"
    %>
</section>
