<div class="table-container">
  <table class="display">
    <thead>
      <tr>
        <th>Item</th>
        <th data-sortable="false">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= for i <- @items do %>
        <tr>
          <td><strong><%= item_name(i) %></strong></td>
          <td><%= if authenticated?(@conn) do item_actions(@conn, i) end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
