<div id="loader-wrapper"><div id="loader"></div></div>

<div class='container'>
  <table
    id='item-table'
    class="table table-sm nowrap w-100"
    data-authenticated='<%= not is_nil(@current_user) %>'
    data-moderator='<%= @current_user && @current_user.moderator %>'
  ></table>
</div>
