<div class='container text-center'>
  <h3>Add Item</h3>
  <%= render @view_module, "form.html",
    action: Routes.item_path(@conn, :create),
    changeset: @changeset,
    displays: @displays,
    quests: @quests,
    mods: @mods,
    locations: @locations,
    submit_button_text: "Create"
  %>
</div>
