<section class="section has-text-centered">
  <h3 class="title is-3">Add Item</h3>
  <%= render @view_module, "form.html",
    action: Routes.item_path(@conn, :create),
    changeset: @changeset,
    displays: @displays,
    submit_button_text: "Create"
  %>
</section>
