<.navbar user={@user} />
<div class="mx-auto w-full max-w-7xl grow flex flex-col sm:flex-row sm:flex-wrap divide-y divide-gray-800 text-gray-300">
  <div class="sm:flex-none w-80 overflow-y-auto sm:border-r sm:border-gray-800">Test 1</div>
  <div class="sm:grow sm:shrink-0 sm:w-80 overflow-y-auto md:border-r border-gray-800 bg-black/10">Test 2</div>
  <div class="sm:flex-none w-80 overflow-y-auto sm:border-r lg:border-r-0 sm:border-gray-800">Test 3</div>
</div>
