<%= form_for @changeset, @path, [as: :character], fn f -> %>

  <div class="form-group">
    <%= label f, :name %>
    <%= text_input f, :name, class: "form-control #{error_class(f, :name)}", placeholder: "Name / Race / Title..." %>
    <%= error_tag f, :name %>
  </div>

  <%= submit @submit_btn, class: "btn btn-primary" %>
<% end %>
