<h1>Show Character</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @character.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.character_path(@conn, :edit, @character) %></span> |
<span><%= link "Back", to: Routes.character_path(@conn, :index) %></span>
