<li class="list-group-item small p-1 list-group-item-action d-flex justify-content-between align-items-center<%= if @location.id == @filter, do: " active" %>"
  phx-click='filter'
  phx-value-location='<%= @location.id %>'
>
  <span class='flex-grow-1'>
    <%= @location.name %>
  </span>
  <span class="badge badge-light badge-pill">
    <%= @location.count %>
  </span>
</li>
