<%= if Enum.count(@entries) > 0 do %>
  <div class='col-sm-6'>
    <ul class='list-group'>
      <li class='list-group-item py-0'><strong><%= String.capitalize(@type) %></strong></li>
      <%= for {id, name} <- @entries do %>
        <li
          class='list-group-item list-group-item-action py-0'
          phx-click='filter'
          phx-value-type='<%= @type%>'
          phx-value-id='<%= id %>'
        ><%= name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
