<nav class="navbar navbar-light bg-light fixed-bottom">
<%= f = form_for :search, "#", [class: "container", phx_change: :search] %>
  <div class='input-group'>
    <%= unless is_nil(@character_items) do %>
      <div class="input-group-append">
        <span class="input-group-text d-none d-md-inline-block">
          <%= Enum.count(@character_items) %> /
          <%= Enum.count(@items) %>
        </span>

      </div>
    <% end %>
  </div>
</form>
</nav>
