<li class="list-group-item bg-light p-1">
  <%= if @add do %>
    <a href='#' phx-click='add' phx-value-type="<%= @add %>">
      <i class='icon-inactive' title='Add <%= String.capitalize(@add) %>'></i>
    </a>
  <% end %>
  <strong><%= @title %></strong>
  <%= if @right, do: content_tag :strong, @right, class: "float-right" %>
</li>
